body {
    background-color: rgba(151, 209, 151, 0.582);
   }
   
   .secti {
       width: 65%;
       padding: 5px 20px 5px 20px;
       background-color: rgb(52, 87, 43);
       box-shadow: rgb(88, 224, 88) 0px 5px 25px;
   }

   .secti2 {
    width: 65%;
    padding: 5px 20px 5px 20px;
    background-color: rgb(22, 87, 61);
    color: white;
    text-align: center;
    box-shadow: rgb(187, 206, 187) 0px 5px 25px;
}

   @media(max-width: 768px){
    .secti  {
       width: 80%;
      
        
    }
    }


   
   .secti h1 {
       text-align: center;
       color: white;
       
   }

   @media(max-width: 768px){
    .secti h1  {
       font-size: 23px;
      
        
    }
    }
   
   .secti p {
       color: white;
       font-size: 15px;
       text-align: center;
   }
   
   
   .survey  {
   
       padding-top: 2%;
       text-align: center;
   
   
   }
   
   .survey2  {
   
       padding-top: 2%;
       text-align: center;
       
   
   
   }
   
   
   
   .form-check.form-check-inline {
   
       margin-right: 5%;
       margin-left: 5%;
       /*margin-left: 4.5%;*/
   }
   
   #porcentagem {
   
       margin-right: 2%;
       margin-left: 2%;
   
   
   }
   
   
   
   
   
   .text-1 {
       text-align: left;
       margin-left: 18%;
   }
   
   .text-2 {
       text-align: center;
   
   
   }
   
   .text-3 {
       margin-left: 45%;
       
   }

   @media(max-width: 768px){
    .text-3  {
        margin-left:-10px;
        
    }
    }
   
   .form-check-input:checked{
   
       color:black;
       border-color: white;
       background-color: black;
       box-shadow: none;
       background-image: none;
       
       
   }
   
   .container {
   
       padding-top: 2%;
       padding-bottom: 2%;
       background-color: whitesmoke;
       margin-top: 2%;
       margin-bottom: 2%;
       border-radius: 20px;
   
   
   }
   
   .question {
   
       padding-bottom: 2%;
   
   
   }
   
   .question h1 {
   
       font-size: 20px;
       padding-bottom:10px ;
       margin-left: 5%;
       padding-top: 20px;
       margin-right: 5%;
       
   
   
   }
   
   
   
   
   
   
   @media (max-width: 576px) { 
       
       .form-check.form-check-inline {
   
           margin-right: 1.7%;
           margin-left: 1.7%;
          
       }
       
       
       
       
        
   
       #porcentagem {
   
           margin-right: 40%;
           text-align: left;
       }
   
       .survey2 {
   
           text-align: left;
   
   
       }
   
       
       
   
   }
   
   .form-check {
       margin-left: 5%;
   }

   .form-check.form-check-inline{
    margin:4%;
   }
   
   
   section {
       width: 65%;
       margin: auto;
       background-color: whitesmoke;
       border-radius: 10px;
       margin-bottom: 3%;
   
   }

   @media(max-width: 768px){
    section  {
       width: 80%;
        
        
    }
    }
