body {
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



section {
    position: relative;
    width: 100%;
    min-height: 110vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(assets/img/bg-body4.jpg);
    background-size: cover;
    background-position:center;
}

.content {
    
  margin: 130px 100px;
    
}






.content .info h2 {
   
    font-size:2rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(206, 207, 219);
}



 .teste  {
    color:white;
    font-size:3rem;
    font-weight: 800;
    background-color:#31313348 ;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:1%;
    text-align: center;
    justify-content: center;
  align-items: center;
  text-shadow: white 0px 1px 5px;
   
}

@media(max-width: 768px){
  .teste  {
    
      width: 95%;
      margin:auto;
     
  }
  }


  


 

h2 {text-align: center;
  color:white;
  font-size: 20px;
  margin-top: 10px;}

h3 {
    text-align: center;
    padding-top:20px;
    color:white;
    font-size:70px;
    text-shadow: white 0px 1px 10px;
}



.card {
  background: none;
  border: none;
  color:white;
    font-size:15px;
    font-weight: 800;
    background-color:#313133af ;
    border-radius: 50px;
    margin:0.5%; 
    margin-top:3%;
    text-align: center;
    justify-content: center;
  align-items:center;
  
  
}


@media(min-width: 1960px){
  .card  {
    
     font-size:30px;
  }
  }





footer {
    background-image: linear-gradient(rgb(52, 87, 43), rgb(17, 44, 3));
    
    padding-bottom: 70px;
}

/*rgb(8, 8, 39)*/





  @media(max-width: 768px){
    a {
      min-width: 300px;
      min-height: 60px;
      font-family: 'Nunito', sans-serif;
      font-size: 22px;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      font-weight: 700;
      color: #313133;
    background: linear-gradient(90deg, rgba(255, 197, 5) 0%, rgb(216, 238, 21) 100%);
      border: none;
      border-radius: 1000px;
      box-shadow: 12px 12px 50px #313133;
      transition: all 0.1s ;
      cursor: pointer;
      outline: none;
      position: relative;
      padding: 10px;
      text-align: center;
      text-decoration: none;
    }
    }
  

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  a {
    width: 300px;
    height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
  background: linear-gradient(90deg, rgba(255, 197, 5) 0%, rgb(216, 238, 21) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 50px #313133;
    transition: all 0.1s ;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
    }

    @media(min-width: 1960px){
      a  {
        
         width: 500px;
         font-size:35px;
    
         
      }
      }


    a:hover{
      color: black;
      
    }
   /* laranja: rgba(255, 197, 5, 0.64)*/
   /* amarelo: rgb(221, 241, 102) 100%)*/
  
  /*button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #3131338e;
    box-shadow: 0 0 60px #313133;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .botao:hover, .botao:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid rgba(255, 197, 5, 0.64);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }*/
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  @media(max-width: 768px){
    .text   {
      
        
        margin-left: 20px;
        margin-right: 20px;
    }
    }

  .text {
    text-align: center;
    padding-top: 3%;
  }

  .text span {
    font-size: 50px;
    padding: 0px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    animation: zoomup 3s ease infinite;
    animation-delay: calc(100ms * var(--i));
  }
  
  .dot {
    display: block;
  }
  
  @keyframes zoomup {
    0%,
    100% {
      color: white;
      filter: blur(0.5px);
      text-shadow: 0 0 35px #e6ddc9, 0 0 35px #e6ddc9, 0 0 35px #e6ddc9,
        0 0 10px ;
    }
  
    100% {
      filter: blur(0);
      color: #fff;
      text-shadow: none;
    }
  }

  .disclaimer{
    display: none;
}